<footer class="footer col">
  <div class="footer__logo">
    Logo
  </div>

  <nav class="footer__nav">
    <a class="footer__nav__item" href="/">About</a>
    <a class="footer__nav__item" href="/features">Features</a>
    <a class="footer__nav__item" href="/pricing">Pricing</a>
    <a class="footer__nav__item" href="/contact">Contact</a>
  </nav>
</footer>