<header class="header col">
  <div class="header__logo">
    Logo
  </div>

  <nav class="header__nav">
    <a class="header__nav__item" href="/">About</a>
    <a class="header__nav__item" href="/features">Features</a>
    <a class="header__nav__item" href="/pricing">Pricing</a>
    <a class="header__nav__item" href="/contact">Contact</a>
  </nav>
</header>