
<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title>{{ title }}</title>
  </head>
</head>
<body>
  {% include 'header' %}

  {{ content }}

  {% include 'footer' %}
</body>
</html>